version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: app/Dockerfile
    env_file: .env
    ports:
      - "8000:8000"
    depends_on:
      - mongo
  mongo:
    image: mongo:7
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
volumes:
  mongo_data:
